* {
    margin: 0%;
    /* outline: hsl(350, 89%, 44%) solid; */
}

.container-fluid {
    background-color: #0096FF;



}

body {
    background-color: #ada9a9;

}

header {
    min-height: 25vh;
  
}

main {
    min-height: 70vh;
}


.navbar {
    padding: 0px;
    gap: 1;
    font-family: Arial, Helvetica, sans-serif;
  

}

.spacer {
    flex-grow: 2;
    width: 100%;
    max-width: 50%;

}

.custom-button-bg {
    background: #00D7FF !important;
    color: white !important;
    border-radius: 20px;
    justify-content: center;
    padding: 2px;
}

.custom-navbar-spacing .nav-link {
    margin-right: 30px;
}

.carousel-inner img {
    width: 100%;
    height: 200px;

}

.costum input style {
    border: 1px solid #3757e6;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #3080ef;
    color: #1805c9;
}

footer {
    min-height: 5vh;
    background-color: #3080ef;
}

.table td.empty-cell {
    padding: 20px;
}

.estiloRow {
    background-color: rgb(216, 15, 15);
}

.table td.empty-cell2 {
    padding: 10px;
}

.table-smaller {
    font-size: 12px;
}

.table-smaller td,
.table-smaller th {
    padding: 5px;
}

.img-enlarged {
    max-width: 100%;
    height: auto;
}

.bodyDetails {
    background-image: url(./optional_banner_5.jpg);
    background-position: center;
    background-repeat: no-repeat;


}
